<!DOCTYPE html>
<html>
<body>
<title>Hi</title>


<%= form_with(url: "/blah", method: "post") do %>
  <%= label_tag(:name, "Search for:") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Search") %>
  <p><%= @email %></p>
<% end %>
</body>
</html>