<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>
      Thank you for auditioning! Please double check the info we have from you below.
    </p>

    <p>
      Name: <%= @user.name%>
      <br>
      Email: <%= @user.email%>
      <br>
      Phone: <%=@user.phone%>
      <br>
      Gender: <%=@user.gender%>
      <br>
      Year: <%=@user.year%>
    </p>

    <p>
    You will hear from us soon about your team placement.
    </p>

    <p>
    Love,
    <br> AFX Dance
    </p>
  </body>
</html>
