<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @dancer.name %>,</p>
    <p>Your request to switch teams for AFX <%= @year %> has been successfully processed.</p>
    <p>You have been placed onto <%= @new_team.name %>, which has practices on: </p>
    <ul>
      <% @new_team.concat_time_and_loc.each do |val| %>
        <li><%= val[0] + ", " %> <%= val[1] %></li>
      <% end %>
    </ul>
    <p>Your new director(s), <%= @directors.to_sentence %>, will be contacting you shortly with more information.</p>
    <p>In the meantime, if you have any questions, comments, or concerns, please email us as soon as possible.</p>
    <p>Be sure to <a href="https://www.facebook.com/AFXdance/">LIKE our Facebook page</a> to be in the know about all of our upcoming events!</p>
    <p>Thank you for your patience! We wish you a wonderful <%= ENV["semester"] %> with AFX!</p>
    <p>With AFX Love,</p>
    <p>AFX Dance</p>
  </body>
</html>
