<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @dancer.name %></h1>
    <p>
      You have successfully auditioned for AFX.
    </p>

    <p>
      Please confirm the following information:
    </p>
    <p>
      name: <%= @dancer.name %>.<br/>
      email: <%= @dancer.email %>.<br/>
      phone number: <%= @dancer.phone %>.<br/>
      gender: <%= @dancer.gender %>.<br/>
      year: <%= @dancer.year %>.<br/>
      dance experience: <%= @dancer.dance_experience %>.<br/>
    </p>

    <p>
      Please confirm your interests:
    </p>

    <p>
      AFX Reach Workshop: <%= @dancer.reach_workshop_interest %>.<br/>
      AFX Reach News: <%= @dancer.reach_news_interest %>.<br/>
    </p>
    <p>Thanks for auditioning and have a great day!</p>
  </body>
</html>
