<body id="audition-form-body">

<%= form_with url: "/src", method: "post", :html => {:class => "audition-form", :id => "src_form"} do |f| %>
  <h2>AFX Dance: Spring 2020 Member Safety and Responsibility Contract (SRC)</h2>

  <% if @src.errors.any? %>
      <% @src.errors.full_messages.each do |message| %>
        <div style="color: red"> <li><%= message %></li>  </div>
      <% end %>
  <% end %>

  <div class="times">

  <% if false %>

  <% else %>
  <p><h1><center>Welcome to AFX Dance, Spring 2020!</center></h1></p>

  <p>The Safety & Responsibility Contract is a <b>MANDATORY</b> and legally binding form that all members of AFX Dance must complete and sign in order to maintain their status as an active member of the organization. The Contract lists the guidelines to which all members of the community will be personally held accountable for and sets the expectations of the values and behaviors that all members must uphold. Each member is expected to do their personal best in creating and maintaining a safe and open environment in all AFX spaces. Failure to sign and complete the Safety & Responsibility Contract by the following deadline will result in immediate removal from the organization.

  <p><b>[DEADLINE TO COMPLETE CONTRACT]: ***SUNDAY***, FEBRUARY 16, 2020 @ 11:59 PM.</b>
  <p>Failure to complete this contract will REVOKE YOUR MEMBERSHIP in AFX Dance for the Spring 2020 Semester WITH NO REFUNDS.</p>

  <br>

<p><h6> What is your AFX Team?: </h6></p>
  <p>If you are on AFX Competitive Team and a Project/Training team, choose one and we will match the records. Directors, please choose the team you are directing.
  </p>

  <%= f.text_field :name, required: true, placeholder: "FIRST AND LAST NAME" %><br>
  <%= f.text_field :email, required: true, placeholder: "EMAIL", pattern: " ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" %><br>
  <%= f.text_field :phone, required: true, placeholder: "PHONE: XXX-XXX-XXXX", pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}" %>

  <!-- still needs to be styled and add label -->
  <%= f.collection_select(
    :available_team_ids,
    Team.all.sort_by(&:name),
    :id,
    :name,
    {:prompt => "Choose your AFX Team"},
    {class: "audition-form"}) %>
<input type="button" id="partOneButton" value="validate dancer">

<!-- PART ONE ENDS HERE -->

<div id="partTwoForm" style="display: none">
  <hr>
    <p><h3><center><b><u>General Behavior and Conduct Policy</u></b></center></h3>
      <p>AFX Dance is an organization that gives those without dance experience an opportunity to experience urban dance. The organization name, [A]spirations, [F]amily, e[X]perience reflects our philosophy of creating a family environment for dancers to build up their confidence and support to reach new heights. Each member in AFX is responsible for upholding these values and at the same time, creating and maintaining a safe and open environment for all. All AFX members are held accountable to all federal and state laws. Even when outside of the organization's dance spaces, AFX holds its members accountable to proper behavior and conduct at all times as a member's actions is a reflection upon the organization. Behaviors such as hate crimes, peer pressure, indecent exposure, and theft are all severely inappropriate conduct and will not be tolerated. Failure to comply will result in expulsion from the org. In cases of misconduct, AFX encourages its members to report violations of our Safety and Responsibility Rules to either the Executive Board and/or campus resources such as PATH to Care.
      </p>
    <p><h3><center><b><u>Harassment</u></b></center></h3>
    <p>Providing a safe environment in AFX Dance is our top priority. AFX Dance has a zero-tolerance policy with regards to harassment. Harassment of any kind may result in a permanent expulsion of membership in AFX Dance. Harassment is governed by state laws, which vary by state, but is generally defined as a course of conduct which annoys, threatens, intimidates, alarms, or puts a person in fear of their safety. Harassment is unwanted, unwelcomed and uninvited behavior that demeans, threatens or offends the recipient and results in a hostile environment for the recipient.
  <br><br>
    Harassment includes the following categories of behavior:
  <br><br>
    - Discriminatory Behavior: Discrimination refers to treating people differently, negatively, or adversely because of one or more of the following prohibited grounds of discrimination: race, color, ancestry, place of origin, political belief, religion, age, gender identity, sexual orientation, marital status, family status, physical or mental disability, documentation status, or pardoned criminal conviction.
  <br><br>
    - Personal Harassment: Personal harassment includes objectionable conduct, comment, or display made on either a one-time or continuous basis that demeans, belittles, or causes personal humiliation or embarrassment on the part of the recipient. It may or may not be linked to discriminatory behavior.
  <br><br>
    - Bullying: Bullying consists of behavior to attack and diminish another by subjecting the recipient to unjustified criticism and trivial fault-finding, humiliating the recipient (especially in front of others), and/or ignoring, overruling, isolating and excluding the recipient.
  <br><br>
    For University of California policy on sexual violence and sexual harassment, please read through this document: <a href="https://policy.ucop.edu/doc/4000385/SVSH">https://policy.ucop.edu/doc/4000385/SVSH</a>. </p>
      <br>

  </p>
    <p>
      <%= f.check_box :a, required:true, class: "required_checkboxes"%>
      <label>I understand that AFX Dance is an organization that gives those without dance experience an opportunity to experience urban dance. The organization name, [A]spirations, [F]amily, e[X]perience reflects our philosophy of creating a family environment for dancers to build up their confidence and support to reach new heights.</label>
    </p>
    <p>
      <%= f.check_box :b, required:true, class: "required_checkboxes"%>
      <label>I understand that AFX is a non-discriminatory organization with a ZERO TOLERANCE POLICY with regards to harassment. Harassment of any kind may result in immediate and/or permanent removal from AFX Dance.</label>
    </p>

    <p>
      <%= f.check_box :c, required:true, class: "required_checkboxes"%>
      <label>I will respect all gender identities and use preferred gender pronouns.</label>
    </p>

  <p>






  <hr>
    <p><h6> CONTENT WARNING: Mention of sexual harassment and sexual violence </h6></p>

    <p><h3><center><b><u>Sexual Harassment and Sexual Violence</u></b></center></h3>

  <p>
  Sexual harassment refers to any conduct, comment, gesture, or contact of a sexual nature, whether on a one-time basis or a series of incidents, that might reasonably be expected to cause offense or humiliation. Creating an intimidating, hostile, or offensive environment through sexually inappropriate conduct is sexual harassment. Examples of behavior that can constitute sexual harassment include, but are not limited to: sexual assault, unwanted touching, patting or leering, inquiries or comments about a person’s sex life, gender-based insults or jokes causing embarrassment or humiliation, repeated unwanted social or sexual requests or invitations, inappropriate or unwelcome focus/comments on a person’s physical attributes or appearance.

  Sexual violence is a physical sexual act engaged without consent. Examples of sexual violence include sexual assault, rape, battery, sexual coercion, dating violence, and stalking.

  AFX Dance has a zero-tolerance policy with regards to sexual harassment and sexual violence. A dancer's membership will be at risk for expulsion/suspension in cases where there is doubt. If there is a report, a dancer's membership will be immediately suspended until the case is resolved. Immediate expulsion and blacklisting from the organization will occur if the accused party is found guilty in such cases.

  AFX encourages its members to respect a survivor's wishes at all times in cases such as these.
  </p>

    <p><h3><center><b><u>Consent Clause</u></b></center></h3>


  <p>Consent is informed and an affirmative, unambiguous, and conscious decision by each participant to engage in mutually agreed-upon activity. The activity may be physical, verbal, or otherwise. Consent is voluntary, must be ongoing, and can be revoked at any point in time. Consent cannot be given when a person is incapacitated, and the ability to give proper consent may be influenced by substance use and power dynamics.
  </p>
    <p>
      <%= f.check_box :d, required: true, class: "required_checkboxes" %>
      <label>I understand that consent is revocable, verbal, voluntary, conscious, and enthusiastic.</label>


    </p>
    <p>
      <%= f.check_box :e, required: true, class: "required_checkboxes" %>
      <label>I understand that AFX encourages its members to report violations of our Safety and Responsibility Rules to either the Executive Board and/or campus resources.</label>
    </p>

    <p>
      <%= f.check_box :f, required: true, class: "required_checkboxes" %>
      <label>I understand that I will cooperate to the fullest extent with the Executive Board and other members of AFX Dance to maintain a safe environment to fulfill the goals of AFX Dance.</label>
    </p>

  <p>
      <%= f.check_box :g, required: true, class: "required_checkboxes" %>
      <label>I understand and agree to follow all of the safety and responsibility rules set forth in this contract. I acknowledge that I must obey these rules in order to hold active membership in AFX Dance to ensure my own safety, and that of other members.
  </label>
    </p>
    <p>
      <%= f.check_box :h, required: true, class: "required_checkboxes" %>
      <label>I am aware that any violation of this contract or misbehavior on my part that results in unsafe conduct at events and practices affiliated with AFX Dance or events in the presence of members of the AFX community will result in prohibition of attending future AFX events and revocation of my membership immediately and/or permanently.</label>
    </p>

    <p>
      <%= f.check_box :i, required: true, class: "required_checkboxes" %>
      <label>I acknowledge that I have read this Safety and Responsibility Contract and that I understand the words and language in it. All potential risks and effects of the Safety and Responsibility Contract have been answered to my satisfaction.</label>
    </p>

  <hr>



  <p><h3>Parent / Guardian Release</h3></p>
      <p>
        <%= f.radio_button :pg_release, 'parent' %>
        <label>I understand and agree that if I am signing this Safety and Responsibility Agreement on behalf of my minor child, that I will be giving up the same rights for said minor as I would be giving up if I signed this document on my own behalf.</label>
    </p>
    <p>
      <%= f.radio_button :pg_release, 'myself' %>
      <label>I am at least 18 years of age and am signing this form for myself.</label>
    </p>
    <p>
      <%= f.radio_button :pg_release, 'other'  %> Other: <%= f.text_field :pg_other, :style => "display: inline-block; width: 51%" %>
      <!-- gna need to change the required -->
    </p>


    <%= f.text_area :reason, required: false, placeholder: "Other:" %> <!-- gna need to change the required -->

  <hr>
  <div id="parent">
  <p><h3>[IF YOU ARE YOUNGER THAN 18 YEARS OF AGE] </h3></p>



    <%= f.text_field :p_name, placeholder: "Your Full Legal Name" %><br>
    <%= f.text_field :p_sign, placeholder: "Parent / Guardian Signature (full legal name)" %><br>
    <%= f.text_field :p_date, placeholder: "Date of signature: MM/DD/YYYY", pattern: "^[0-3][0-9]/[0-3][0-9]/(?:[0-9][0-9])?[0-9][0-9]$" %><br>

    <p>
      <%= f.check_box :p_checkbox %>
      <label>I understand that checking this box constitutes a legal signature confirming that I acknowledge the above Safety and Responsibility Agreement for AFX Dance and am liable to the rules mutually agreed upon between me and the organization.
      </label>
    </p>
  <hr>
  </div>
  <div id="myself">
  <p><h3>[IF YOU ARE 18 YEARS OF AGE OR OLDER]</h3></p>

    <%= f.text_field :m_sign, placeholder: "Your Signature (full legal name)" %><br>
    <%= f.text_field :m_date, placeholder: "Date of signature: MM/DD/YYYY", pattern: "^[0-3][0-9]/[0-3][0-9]/(?:[0-9][0-9])?[0-9][0-9]$" %><br>

    <p>
      <%= f.check_box :m_checkbox %>
      <label>I understand that checking this box constitutes a legal signature confirming that I acknowledge the above Safety and Responsibility Agreement for AFX Dance and am liable to the rules mutually agreed upon between me and the organization.
      </label>
    </p>

    <p>
      Thank you for submitting the AFX Dance Fall 2019 Member Safety and Responsibility Contract. Your response has been recorded. If you have further questions, please email afxdance@gmail.com.

    <br>






    <div class = "submit">
      <%= f.submit "Submit Safety and Responsibility Contract", class: "availability-form-submit" %>
    </div>
  </div>

  <script>

  function dancerIsValid() {
    <!-- how to make a query to DB?, also display error -->
    a = $('input[name="name"]').val() != null;
    b = $('input[name="email"]').val() != null;
    re = new RegExp("[0-9]{3}-[0-9]{3}-[0-9]{4}")
    c = re.test($('input[name="phone"]').val());
    console.log("name: " + String(a));
    infocheck = false
    if (a && b && c) {
      infocheck = true
    }
    return infocheck

  }

  function checkboxesAreValid() {
    nchecked = $('.required_checkboxes:checked').length;
    radiocheck = $('input[name="pg_release"]:checked').val();
    infocheck = false
    a = $('input[name="name"]').val() != null;
    b = $('input[name="email"]').val() != null;
    re = new RegExp("[0-9]{3}-[0-9]{3}-[0-9]{4}")
    c = re.test($('input[name="phone"]').val());
    if (a && b && c) {
      infocheck = true
    }
    isvalid = false


    switch(radiocheck) {
      case "parent":
        a = $('input[name="p_name"]').val() != null;
        b = $('input[name="p_sign"]').val() != null;
        re = new RegExp("^[0-3][0-9]/[0-3][0-9]/(?:[0-9][0-9])?[0-9][0-9]$")
        c = re.test($('input[name="p_date"]').val())
        d = $('input[name="p_checkbox"]').is(':checked')
        if (a && b && c && d) {
          isvalid = true
        }
        break;
      case "myself":
        a = $('input[name="m_sign"]').val() != null;
        re = new RegExp("^[0-3][0-9]/[0-3][0-9]/(?:[0-9][0-9])?[0-9][0-9]$")
        b = re.test($('input[name="m_date"]').val())
        c = $('input[name="m_checkbox"]').is(':checked');
        if (a && b && c) {
          isvalid = true
        }
        break;
      case "other":
       a = $('input[name="pg_other"]').val() != null;
       if (a) {
         isvalid = true
       }
       break;
      default:

    }
    console.log("nchecked: " + String(nchecked))
    console.log("isvalid " + String(isvalid))
    console.log("infocheck " + String(infocheck))

    console.log(nchecked == 9 && isvalid && infocheck)

    return nchecked == 9 && isvalid && infocheck
  }

  $('input[type=radio]').change(function() {
    $('#parent').css('display', 'none')
    $('#myself').css('display', 'none')
    fieldToShow = $(this).val()
    $('#' + fieldToShow).css('display', 'block')
    return
  });
  // TODO What to show for other option

  $('#src_form').submit(function() {
     return checkboxesAreValid()
  });

  $('#src_form').on('click', '#partOneButton', function() {
    if (dancerIsValid()) {
      $('#partTwoForm').toggle();
      $('#partOneButton').hide();
    } else {
      return dancerIsValid();
    }
  });

  </script>

  </div>

  <% end %>

<% end %>
</body>
