<body id="audition-form-body">

<%= form_with url: "/src", method: "post", :html => {:class => "audition-form", :id => "src_form"} do |f| %>
  <h2>AFX Dance: Spring 2020 Member Safety and Responsibility Contract (SRC)</h2>

  <% if @src.errors.any? %>
      <% @src.errors.full_messages.each do |message| %>
        <div style="color: red"> <li><%= message %></li>  </div>
      <% end %>
  <% end %>

  <div class="times">

  <% if false %>

  <% else %>

  <%= @srcformfields[0] %>

<%= @srcformfields[1] %>

  <br>

<%= @srcformfields[2] %>

  <%= f.text_field :name, required: true, placeholder: "FIRST AND LAST NAME" %><br>
  <%= f.text_field :email, required: true, placeholder: "EMAIL", pattern: " ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" %><br>
  <%= f.text_field :phone, required: true, placeholder: "PHONE: XXX-XXX-XXXX", pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}" %>

  <!-- still needs to be styled and add label -->
  <%= f.collection_select(
    :available_team_ids,
    Team.all.sort_by(&:name),
    :id,
    :name,
    {:prompt => "Choose your AFX Team"},
    {class: "audition-form"}) %>


<hr>
  <%= @srcformfields[3] %>
    <%= @srcformfields[4] %>
  <%= @srcformfields[5] %>
  <%= @srcformfields[6] %>
    <br>

</p>
  <p>
    <%= f.check_box :a, required:true, class: "required_checkboxes"%>
    <%=@srcformfields[14]%>
  </p>
  <p>
    <%= f.check_box :b, required:true, class: "required_checkboxes"%>
    <%= @srcformfields[15]%>
  </p>

  <p>
    <%= f.check_box :c, required:true, class: "required_checkboxes"%>
    <%= @srcformfields[16]%>
  </p>

<p>


<hr>

<p>
  <%=@srcformfields[7]%>

  <%=@srcformfields[8]%>

  <%=@srcformfields[9]%>

  <%=@srcformfields[10]%>

  <%= @srcformfields[11]%>
</p>

  <p>
    <%= f.check_box :d, required: true, class: "required_checkboxes" %>
    <label><%=@srcformfields[17]%></label>


  </p>
  <p>
    <%= f.check_box :e, required: true, class: "required_checkboxes" %>
     <label><%=@srcformfields[18]%></label>
  </p>

  <p>
    <%= f.check_box :f, required: true, class: "required_checkboxes" %>
     <label><%=@srcformfields[19]%></label>
  </p>

<p>
    <%= f.check_box :g, required: true, class: "required_checkboxes" %>
     <label><%=@srcformfields[20]%></label>
  </p>
  <p>
    <%= f.check_box :h, required: true, class: "required_checkboxes" %>
     <label><%=@srcformfields[21]%></label>
  </p>

  <p>
    <%= f.check_box :i, required: true, class: "required_checkboxes" %>
     <label><%=@srcformfields[22]%></label>
  </p>

<hr>


<%=@srcformfields[12]%>
    <p>
      <%= f.radio_button :pg_release, 'parent' %>
      <label><%=@srcformfields[23]%></label>
  </p>
  <p>
    <%= f.radio_button :pg_release, 'myself' %>
    <label><%=@srcformfields[24]%></label>
  </p>
  <p>
    <%= f.radio_button :pg_release, 'other'  %> Other: <%= f.text_field :pg_other, :style => "display: inline-block; width: 51%" %>
     <!-- gna need to change the required -->
  </p>


  <%= f.text_area :reason, required: false, placeholder: "Other:" %> <!-- gna need to change the required -->

<hr>
<div id="parent">
<p><h3>[IF YOU ARE YOUNGER THAN 18 YEARS OF AGE] </h3></p>



  <%= f.text_field :p_name, placeholder: "Your Full Legal Name" %><br>
  <%= f.text_field :p_sign, placeholder: "Parent / Guardian Signature (full legal name)" %><br>
  <%= f.text_field :p_date, placeholder: "Date of signature: MM/DD/YYYY", pattern: "^[0-3][0-9]/[0-3][0-9]/(?:[0-9][0-9])?[0-9][0-9]$" %><br>

  <p>
    <%= f.check_box :p_checkbox %>
    <label><%=@srcformfields[25]%></label>
  </p>
<hr>
</div>
<div id="myself">
<p><h3>[IF YOU ARE 18 YEARS OF AGE OR OLDER]</h3></p>

  <%= f.text_field :m_sign, placeholder: "Your Signature (full legal name)" %><br>
  <%= f.text_field :m_date, placeholder: "Date of signature: MM/DD/YYYY", pattern: "^[0-3][0-9]/[0-3][0-9]/(?:[0-9][0-9])?[0-9][0-9]$" %><br>

  <p>
    <%= f.check_box :m_checkbox %>
    <label><%=@srcformfields[26]%></label>
  </p>
<hr>
</div>

  <p>
    <%=@srcformfields[27]%>
  </p>
  <br>



  <div class = "submit">
    <%= f.submit "Submit Safety and Responsibility Contract", class: "availability-form-submit" %>
  </div>

  <script>
  function checkboxesAreValid() {
    nchecked = $('.required_checkboxes:checked').length;
    radiocheck = $('input[name="pg_release"]:checked').val();
    infocheck = false
    a = $('input[name="name"]').val() != null;
    b = $('input[name="email"]').val() != null;
    re = new RegExp("[0-9]{3}-[0-9]{3}-[0-9]{4}")
    c = re.test($('input[name="phone"]').val());
    if (a && b && c) {
      infocheck = true
    }
    isvalid = false


    switch(radiocheck) {
      case "parent":
        a = $('input[name="p_name"]').val() != null;
        b = $('input[name="p_sign"]').val() != null;
        re = new RegExp("^[0-3][0-9]/[0-3][0-9]/(?:[0-9][0-9])?[0-9][0-9]$")
        c = re.test($('input[name="p_date"]').val())
        d = $('input[name="p_checkbox"]').is(':checked')
        if (a && b && c && d) {
          isvalid = true
        }
        break;
      case "myself":
        a = $('input[name="m_sign"]').val() != null;
        re = new RegExp("^[0-3][0-9]/[0-3][0-9]/(?:[0-9][0-9])?[0-9][0-9]$")
        b = re.test($('input[name="m_date"]').val())
        c = $('input[name="m_checkbox"]').is(':checked');
        if (a && b && c) {
          isvalid = true
        }
        break;
      case "other":
       a = $('input[name="pg_other"]').val() != null;
       if (a) {
         isvalid = true
       }
       break;
      default:

    }
    console.log("nchecked: " + String(nchecked))
    console.log("isvalid " + String(isvalid))
    console.log("infocheck " + String(infocheck))

    console.log(nchecked == 9 && isvalid && infocheck)

    return nchecked == 9 && isvalid && infocheck
  }

  $('input[type=radio]').change(function() {
    $('#parent').css('display', 'none')
    $('#myself').css('display', 'none')
    fieldToShow = $(this).val()
    $('#' + fieldToShow).css('display', 'block')
    return
  });
  // TODO What to show for other option


  $('#src_form').submit(function() {
     return checkboxesAreValid()
  });
  </script>

  </div>

  <% end %>

<% end %>
</body>
