<%# add checklist to toggle the fields (display all fields?) %>

<style>
.content-container {
  width: 50%;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

form input {
  margin: 4px 0px;
}
</style>

<%# need to replace @teams with some appropriate property defined in Dancers%>
<%
  @teams = Team.project_teams
  @interests = Dancer::TOGGLABLE_INTERESTS
  preferences = TeamPreference.all
  @team_submitted_preferences = Hash.new

  for t in @teams
    @team_submitted_preferences[t.id] = false
  end

  for pref in preferences
    @team_submitted_preferences[pref.team_id] = true
  end
%>

<%= form_tag action: "update_preferences", method: :post do %>
  <div class="content-container">
    <table>
      <tr>
        <td>
          Form Preference
        </td>
        <td>
          Enabled?
        </td>
      </tr>
      <% for interest in @interests %>
        <tr>
          <td>
            <%= interest %>
          </td>
          <td>
            <%= check_box_tag interest + "_cb", 1, REDIS.get(interest) == "true" %>
            <%= REDIS.get(interest) %>
          </td>
        </tr>
      <% end %>
    </table>
    <p>Toggle preferences as desired, then click Update to confirm<p>
    <%= submit_tag 'Update Form Preferences'%>
<% end %>
