<style>
table, td, th {
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
}
form {
  width: 50%;
}
form input {
  margin: 4px 0px;
}
</style>

<%
  @teams = Team.all
  preferences = TeamPreference.all
  @team_submitted_preferences = Hash.new

  for t in @teams
    @team_submitted_preferences[t.id] = false
  end

  for pref in preferences
    @team_submitted_preferences[pref.team_id] = true
  end
%>

<div>
  <table>
    <tr>
      <td>
        Team
      </td>
      <td>
        Preferences Submitted
      </td>
    </tr>
    <% for team in @teams %>
    <tr>
      <td>
        <%= team.name %>
      </td>
      <td>
        <%= @team_submitted_preferences[team.id] %>
      </td>
    </tr>
    <% end %>
  </table>

  <%= form_tag "/createteams", method: :post do %>
    <p>Max Team Size<p>
    <%= number_field_tag "team_size", nil, min: 1, step: 1 %>
    <%= submit_tag 'Create Teams' %>
  <% end %>
</div>
