<%= form_with(model: event2, local: true) do |form| %>
  <% if event2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event2.errors.count, "error") %> prohibited this event2 from being saved:</h2>

      <ul>
      <% event2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event2_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event2_description %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :event2_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :event2_end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
