<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event2.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event2.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event2.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event2.end_time %>
</p>

<%= link_to 'Edit', edit_event2_path(@event2) %> |
<%= link_to 'Back', event2s_path %>
