<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<h1>Events</h1>
=======
<h1>Listing events</h1>
>>>>>>> 0524d034499e8b311582c367de064f97505d0ffc

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
<<<<<<< HEAD
      <th colspan="3"></th>
=======
      <th></th>
      <th></th>
      <th></th>
>>>>>>> 0524d034499e8b311582c367de064f97505d0ffc
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<<<<<<< HEAD
<br>

<%= link_to 'New Event', new_event_path %>
=======

<br>

<%= link_to 'New Event', new_event_path %>

<br>

<div id="calendar"></div>
>>>>>>> 0524d034499e8b311582c367de064f97505d0ffc
