- if @dancer.errors.any?
  %div Please fix the following errors:
  - @dancer.errors.full_messages.each do |message|
    %li= message

%table
  %tr
    %td
      Name
    %td
      - if f
        = f.text_field(:name, required: true)
      - else
        = @dancer.name
  %tr
    %td
      Email
    %td
      - if f
        = f.text_field(:email, required: true, pattern: Dancer::EMAIL_PATTERN)
      - else
        = @dancer.email
  %tr
    %td
      Phone
    %td
      - if f
        = f.text_field(:phone, required: true, pattern: Dancer::PHONE_PATTERN)
        %small
          Must follow this format: ###-###-####
      - else
        = @dancer.phone
  %tr
    %td
      Gender
    %td
      - if f
        = f.select(:gender, options_for_select(Dancer::GENDER_VALUES.invert, @dancer.gender), {prompt: ""}, {required: true})
        %small
          This information is used to ensure teams are balanced, diverse, and inclusive. The form is processed by an algorithm and your response will not be seen beyond executive board.
      - else
        = Dancer::GENDER_VALUES[@dancer.gender]
  %tr
    %td
      Year
    %td
      - if f
        = f.select(:year, options_for_select(Dancer::YEAR_VALUES.invert, @dancer.year), {prompt: ""}, {required: true})
      - else
        = Dancer::YEAR_VALUES[@dancer.year]
  %tr
    %td
      Prior Dance Experience
    %td
      - if f
        = f.select(:dance_experience, options_for_select(Dancer::DANCE_EXPERIENCE_VALUES.invert, @dancer.dance_experience), {prompt: ""}, {required: true})
      - else
        = Dancer::DANCE_EXPERIENCE_VALUES[@dancer.dance_experience]
  %tr
    %td
      EXP Interest
    %td
      - if f
        = f.select(:exp_interest, options_for_select(Dancer::BOOLEAN_OPTION_VALUES.invert, @dancer.exp_interest), {prompt: ""}, {required: true})
      - else
        = Dancer::BOOLEAN_OPTION_VALUES[@dancer.exp_interest]
  %tr
    %td
      AFX Tech Interest
    %td
      - if f
        = f.select(:tech_interest, options_for_select(Dancer::BOOLEAN_OPTION_VALUES.invert, @dancer.tech_interest), {prompt: ""}, {required: true})
      - else
        = Dancer::BOOLEAN_OPTION_VALUES[@dancer.tech_interest]

- if f
  = f.submit "I'm ready to audition!"
