<body id="audition-form-body" onload="onload()">

<%= form_for :team_switch_request, :url => team_switch_form_path, :html => {:class => "audition-form"} do |f| %>
  <h2>AFX TEAM SWITCH/DROP FORM</h2>
  <% if @request.errors.any? %>
    <% @request.errors.full_messages.each do |message| %>
      <div style="color: red"> <li><%= message %></li>  </div>
    <% end %>
  <% end %>

  <div class="times">
  <% if false %>
  <% else %>
  <div id="intro" text="<%= @intro%>">
  </div>
  <br>


  <%= f.text_field :name, required: true, placeholder: "FIRST AND LAST NAME" %><br>
  <%= f.text_field :email, required: true, placeholder: "EMAIL" %><br>
  <%= f.text_field :phone, required: true, placeholder: "PHONE: XXX-XXX-XXXX", pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}" %>

  <br>
  <br>

  <b><hr></b>
  <br>
  <div id="projectTS1" text="<%= @projectTS1%>">
  </div>

  <%= f.collection_check_boxes(
        :available_team_ids,
        Team.project_teams.sort_by(&:practice_time_sort_string),
        :id,
        :name
      ) do |option| %>
    <% next if option.object.practice_time.blank? || option.object.practice_time[0] == " " %>
    <div><label>
      <%= option.check_box(class: "availability-checkbox availability-checkbox-project") %>
      <span class="availability-display" style="display: none">
        <code class="availability-display-busy">BUSY</code>
        <code class="availability-display-free">FREE</code>
      </span>
      <%= option.object.practice_time %>
    </label></div>
  <% end %>

  <div id="projectTS2" text="<%= @projectTS2%>">
  </div>


  <br>
  <br>

  <hr>
  <br>

  <div id="trainingTS1" text="<%= @trainingTS1%>">
  </div>

  <%= f.collection_check_boxes(
        :available_team_ids,
        Team.training_teams.sort_by(&:practice_time_sort_string),
        :id,
        :name
      ) do |option| %>
    <% next if option.object.practice_time.blank? || option.object.practice_time[0] == " " %>
    <div><label>
      <%= option.check_box(class: "availability-checkbox availability-checkbox-training") %>
      <span class="availability-display" style="display: none">
        <code class="availability-display-busy">BUSY</code>
        <code class="availability-display-free">FREE</code>
      </span>
      <%= option.object.practice_time %>
    </label></div>
  <% end %>


  <div id="trainingTS2" text="<%= @trainingTS2%>">
  </div>

  <br>
  <br>

  <hr>
  <br>
  <div id="drop1" text="<%= @drop1%>">
  </div>

<br>

  <%= f.collection_check_boxes(
        :available_team_ids,
        Team.drop_teams.sort_by(&:practice_time_sort_string),
        :id,
        :name
      ) do |option| %>
    <% next if option.object.practice_time.blank? || option.object.practice_time[0] == " " %>
    <div><label>
      <%= option.check_box(class: "availability-checkbox availability-checkbox-drop") %>
      <%= option.object.practice_time %>
    </label></div>
  <% end %>
  <div id="drop2" text="<%= @drop2%>">
  </div>
<br>
<br>

<hr>
<br>

  <div id="reason" text="<%= @reason%>">
  </div>


  <%= f.text_area :reason, required: true, rows:"10000000", placeholder: "Reason" %>
  <br>
  <br>



  <hr>
  <br>

  <div id="review" text="<%= @review%>">
  </div>


  <p>
    <%= f.check_box(:double_check, {})%>
    <label>Yes</label>
  </p>

  <div id="final" text="<%= @final%>">
  </div>

  <div class = "submit">
    <%= f.submit "Submit team switch request", class: "availability-form-submit" %>
  </div>

  <script>
  function onload() {
    var intro = document.getElementById("intro");
    intro.innerHTML = intro.getAttribute('text');
    var projectTS1 = document.getElementById("projectTS1");
    projectTS1.innerHTML = projectTS1.getAttribute('text');
    var projectTS2 = document.getElementById("projectTS2");
    projectTS2.innerHTML = projectTS2.getAttribute('text');
    var trainingTS1 = document.getElementById("trainingTS1");
    trainingTS1.innerHTML = trainingTS1.getAttribute('text');
    var trainingTS2 = document.getElementById("trainingTS2");
    trainingTS2.innerHTML = trainingTS2.getAttribute('text');
    var drop1 = document.getElementById("drop1");
    drop1.innerHTML = drop1.getAttribute('text');
    var drop2 = document.getElementById("drop2");
    drop2.innerHTML = drop2.getAttribute('text');
    var reason = document.getElementById("reason");
    reason.innerHTML = reason.getAttribute('text');
    var review = document.getElementById("review");
    review.innerHTML = review.getAttribute('text');
    var final = document.getElementById("final");
    final.innerHTML = final.getAttribute('text');
  }
  function checkboxesAreValid() {
    nchecked = {}
    nchecked.project = $('.availability-checkbox-project:checked').length;
    nchecked.training = $('.availability-checkbox-training:checked').length;
    nchecked.drop = $('.availability-checkbox-drop:checked').length;
    nchecked.team = nchecked.project + nchecked.training;
    nchecked.total = nchecked.project + nchecked.training + nchecked.drop;

    if (nchecked.total == 0)
      return false;

    if (nchecked.drop > 0 && nchecked.team > 0)
      return false;

    // If someone on a project team puts down a project team time and a training team time,
    // then that's okay.
    if (nchecked.project == 0 && nchecked.training == 1)
      return false;

    return true;
  }

  function verify() {
    if (checkboxesAreValid()) {
      $('.availability-form-submit').show();
    }
    else {
      $('.availability-form-submit').hide();
    }
  }

  $(() => {
    verify();
    $('.availability-checkbox').click(() => {
      verify();
    });
  });

  </script>

  </div>

  <% end %>

<% end %>
</body>
