<body id="audition-form-body">

<%= form_for :team_switch_request, :url => team_switch_form_path, :html => {:class => "audition-form"} do |f| %>
  <h2>AFX TEAM SWITCH/DROP FORM</h2>
  <% if @request.errors.any? %>
    <% @request.errors.full_messages.each do |message| %>
      <div style="color: red"> <li><%= message %></li>  </div>
    <% end %>
  <% end %>

  <div class="times">

  <% if false %>

  <p>Welcome to AFXsi 2018, AFX's 2018 Summer Intensive Program!

  <p>Thank you for dancing with AFXsi 2018! Our team switch/drop form has now closed. If you have any personal concerns, please discuss with your current team's directors. Otherwise, please email any further questions to afxdanceviceexecutive@gmail.com. We hope you have a great summer!</p>

  <% else %>
  <p><h1><center>Welcome to AFX Dance, Spring 2020!</center></h1></p>

  <p>If you are viewing this form, it means that you are <b>UNABLE</b> to participate in the PROJECT or TRAINING team that you are <b><u>CURRENTLY ON</b></u> on due to a <b>time conflict</b>. Through this form, you will also be able to DROP from AFX Project/Training this semester.
  <p><b>[DEADLINE FOR SUBMISSION: FRIDAY, 2/14/2020 @ 11:59 PM.] </b>
  <br><b><u>NO EXCEPTIONS!</u></b>

  <p>***NOTE***: If you are currently on AFX Competitive Team, the drop deadline and process is separate and does NOT use this form. We urge you to direct all AFX Comp matters to your Captains. Thank you!

  <p>If you have any urgent questions, comments, or concerns, please email [afxdanceswitchdrop@gmail.com] ASAP! We will do our best to respond within 24 hours of receiving your email.
  <br>
  <br>

  <br>

  <p><b>ALL FOLLOWING INFORMATION MUST EXACTLY MATCH THE INFORMATION SUBMITTED ON AUDITION DAY:
</b></p>
  <br>


  <%= f.text_field :name, required: true, placeholder: "FIRST AND LAST NAME" %><br>
  <%= f.text_field :email, required: true, placeholder: "EMAIL" %><br>
  <%= f.text_field :phone, required: true, placeholder: "PHONE: XXX-XXX-XXXX", pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}" %>

  <p><b>Incorrect contact information, missing fields, and/or not selecting at least two teams for training team switches will prevent you from submitting the form.</b></p>
  <br>
  <br>

  <b><hr></b>
  <br>

  <p><h3><center><b><u>PROJECT TEAM SWITCH</u></b></center></h3>
  <b><i>[You may ONLY answer this if you are currently on a Project Team.]</i></b>
  <p><b><u>TO SWITCH INTO A DIFFERENT AFX PROJECT TEAM:</u></b>
    <br>
  If you would like to <b>switch into a different Project Team</b>, please select ALL other Project Teams’ times that you can attend:

  <%= f.collection_check_boxes(
        :available_team_ids,
        Team.project_teams.sort_by(&:practice_time_sort_string),
        :id,
        :name
      ) do |option| %>
    <% next if option.object.practice_time.blank? || option.object.practice_time[0] == " " %>
    <div><label>
      <%= option.check_box(class: "availability-checkbox availability-checkbox-project") %>
      <span class="availability-display" style="display: none">
        <code class="availability-display-busy">BUSY</code>
        <code class="availability-display-free">FREE</code>
      </span>
      <%= option.object.practice_time %>
    </label></div>
  <% end %>

  <p><b><u>TO SWITCH INTO AN AFX TRAINING TEAM FROM YOUR AFX PROJECT TEAM:</u></b>
    <br>
    If you would like to <b>switch into a Training Team</b>, please refer to the “Training Team Switch” portion of this form.

  <p><b><u>NOTE</u></b>: You may <b>NOT</b> select BOTH Project team time and Training team time preferences. We process each request individually and will not be processing your request to switch into a different Project and Training team simultaneously. </p>

  <p><b>Failure to comply with any instructions will lead to your team switch request being dismissed.
</b></p>


  <br>
  <br>

  <hr>
  <br>
  <p><h3><center><b><u>TRAINING TEAM SWITCH
</u></b></center></h3>
  <b><i>[This portion is for all members currently placed on a Training Team OR on a Project Team who would like to switch into a Training Team.]
</i></b>

<p><b><u>TO SWITCH AFX TRAINING TEAMS:</u></b>
    <br>
  If you would like to <b>join or switch into a different Training Team</b>, please select ALL Training Teams’ times (AT LEAST <b>TWO</b>) that you can attend:


  <%= f.collection_check_boxes(
        :available_team_ids,
        Team.training_teams.sort_by(&:practice_time_sort_string),
        :id,
        :name
      ) do |option| %>
    <% next if option.object.practice_time.blank? || option.object.practice_time[0] == " " %>
    <div><label>
      <%= option.check_box(class: "availability-checkbox availability-checkbox-training") %>
      <span class="availability-display" style="display: none">
        <code class="availability-display-busy">BUSY</code>
        <code class="availability-display-free">FREE</code>
      </span>
      <%= option.object.practice_time %>
    </label></div>
  <% end %>


    <p><b>Failure to comply with any instructions will lead to your team switch request being dismissed.
</b></p>

  <br>
  <br>

  <hr>
  <br>
  <p><h3><center><b><u>DROP FROM AFX PROJECT/TRAINING

</u></b></center></h3>
  <b><i>[ONLY ANSWER THIS QUESTION IF YOU HAVE CHOSEN TO DROP FROM AFX DANCE’S PROJECT AND TRAINING TEAMS THIS SEMESTER.]

</i></b>

<br>

  <%= f.collection_check_boxes(
        :available_team_ids,
        Team.drop_teams.sort_by(&:practice_time_sort_string),
        :id,
        :name
      ) do |option| %>

    <div><label>
      <%= option.check_box(class: "availability-checkbox availability-checkbox-drop") %> Yes, I would like to withdraw from AFX Spring 2020 Project/Training. I acknowledge that my decision is final and that once I submit the form, I will no longer be able to join any team practice or perform in any AFX set this semester (NO EXCEPTIONS). If I violate these conditions and do not pay AFX dues, I will be charged at any time.
    </label></div>
  <% end %>
  <p>
    <br><b>Once you select this box, you may not re-join AFX this semester. Please consult with your directors to discuss your circumstances before making this decision. You may also email afxdanceswitchdrop@gmail.com for further questions!
</b></p>
<br>
<br>

<hr>
<br>

  <p><b>What is your reason for switching into a different team or dropping from AFX? Please explain your time conflict and what prevents you from attending your current team’s practices.*
</b></p>


  <%= f.text_area :reason, required: true, placeholder: "Reason" %>
  <br>
  <br>



  <hr>
  <br>

  <p><b>We urge you to PLEASE double-check all of your contact information and answers as inputting incorrect information may lead to an unattended request, a rejected request, or a drop from AFX. Have you reviewed all of your responses carefully?*</b>


  <p>
    <%= f.check_box(:double_check, {})%>
    <label>Yes</label>
  </p>

  <p>Again, if you have any further questions, please email afxdanceswitchdrop@gmail.com and we will try to respond within 24 hours. You will receive an email with the results once your team switch or drop request has been successfully processed. Please check your email’s spam folder in case the email is delivered there. All notices and results are delivered ONLY from afxdanceswitchdrop@gmail.com. Thank you for your patience!

    <p><i>All information processed through this form will be confidential and be kept within the Executive Board. We greatly appreciate your cooperation.

  <div class = "submit">
    <%= f.submit "Submit team switch request", class: "availability-form-submit" %>
  </div>

  <script>
  function checkboxesAreValid() {
    nchecked = {}
    nchecked.project = $('.availability-checkbox-project:checked').length;
    nchecked.training = $('.availability-checkbox-training:checked').length;
    nchecked.drop = $('.availability-checkbox-drop:checked').length;
    nchecked.team = nchecked.project + nchecked.training;
    nchecked.total = nchecked.project + nchecked.training + nchecked.drop;

    if (nchecked.total == 0)
      return false;

    if (nchecked.drop > 0 && nchecked.team > 0)
      return false;

    // If someone on a project team puts down a project team time and a training team time,
    // then that's okay.
    if (nchecked.project == 0 && nchecked.training == 1)
      return false;

    return true;
  }

  function verify() {
    if (checkboxesAreValid()) {
      $('.availability-form-submit').show();
    }
    else {
      $('.availability-form-submit').hide();
    }
  }

  $(() => {
    verify();
    $('.availability-checkbox').click(() => {
      verify();
    });
  });

  </script>

  </div>

  <% end %>

<% end %>
</body>
